---
import Layout from '../layouts/Layout.astro';
// import css

---


<section>
    <div class="canva">
        <div class="lateral-left">

        </div>
        <div class="center-mid">
            <div class="metro">
                <div class="door"></div>
                <div class="door"></div>
              </div>
        </div>
        <div class="laterala-right">

        </div>
    </div>
</section>

<style>
    section {
       background-color: black;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .canva {
        background-color: white;
        width: 80%;
        height: 70%;
        display: flex;
    }
    .lateral-left {
        border: 1px solid black;
        width: 35%;
        height: 100%;
    }
    .center-mid {
        border: 1px solid black;
        width: 30%;
        height: 100%;
    
    }
    .laterala-right {
        border: 1px solid black;
        width: 35%;
        height: 100%;
    }

</style>